    <div class='container'>

      <!-- Sidebar -->
      <aside>
      <div class='sidebar'>
        <h3>Search</h3>
        <form method='get' action='/blogs'>
          <input
            type='text'
            name='title'
            value='{{pagination.query.title}}'
            placeholder='Search articles...'
          />
          {{#if pagination.query.cat}}
            <input type='hidden' name='cat' value='{{pagination.query.cat}}' />
          {{/if}}
          <button type='submit'>Search</button>
        </form>

        <h3>Categories</h3>
        <ul>
          {{#each categories}}
            <li>
              <a href='?cat={{this.id}}' >{{this.name}}</a>
            </li>
          {{/each}}
        </ul>

        <h3>Recent Posts</h3>
        <ul>
          {{#each recentBlogs}}
            <li>
              <a href='/blogs/{{this.slug}}'>{{this.title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
     </aside>
      <!-- Content -->
      <div class='content'>

<div class="blog-header">
  <p>Showing <strong>{{pagination.length}} of {{pagination.total}}</strong> articles</p>
</div>
        <!-- Blog 1 -->
        {{#each blogs}}
          <div class='blog-card'>
            <img src='{{this.featuredImage}}' alt='Featured image for {{this.title}}' />
            <div class='blog-content'>
              <h2>{{this.title}}</h2>
              <div class='blog-meta'>Published on
                {{this.publishedAt}}
                •
                {{this.readingTime}}
                min read</div>
              <p>
                {{this.excerpt}}
              </p>
              <a href='/blogs/{{this.slug}}' class='read-more'>Read More</a>
            </div>
          </div>
        {{/each}}
      
    {{> pagination pagination=pagination }}
     
      </div>

    </div>