<!-- PAGE HEADER -->
<section class='page-header'>
  <div class='container'>
    <h1>Blog & Insights</h1>
    <p>Expert articles, patient stories, and the latest advancements in hair
      transplant technology.</p>
    <div class='breadcrumb'>
      <a href='/'>Home</a>
      <span class='sep'>›</span>
      <span>Blog</span>
    </div>
  </div>
</section>

<!-- BLOG FILTER + GRID -->
<section class='section'>
  <div class='container'>
    <!-- Category Tabs -->
    <div class='blog-tabs fade-in'>
      <button class='blog-tab active' data-category='all'>All Posts</button>
      {{#each categories}}
        <a
          class='blog-tab'
          href='/blogs?cat={{this.id}}'
          data-category='{{this.slug}}'
        >{{this.name}}</a>
      {{/each}}
    </div>

    <div class='grid-3' id='blogGrid'>
      {{#each blogs}}
        <a
          href='/blogs/{{this.slug}}'
          class='blog-card fade-in'
          data-category='{{this.category.slug}}'
        >
          <div class='blog-card-image'>
            <img src='{{this.featuredImage}}' alt='{{this.title}}' />
            <span class='blog-category-badge'>{{this.category.name}}</span>
          </div>
          <div class='blog-card-body'>
            <div class='blog-meta'>
              <span class='blog-date'>{{relative_date this.publishedAt}}</span>
              <span class='blog-read'>{{this.readingTime}} min read</span>
            </div>
            <h3>{{this.title}}</h3>
            <p>{{slice this.excerpt 0 150}}</p>

          </div>
        </a>
      {{/each}}

    </div>

    <!-- Pagination -->
    <div
      class='pagination'
      data-pagination='blogGrid'
      data-total-pages='{{pagination.totalPages}}'
    ></div>
  </div>
</section>